{% extends 'base.html.twig' %}

{% block title %}New Adresse{% endblock %}

{% block body %}
    <h1>Create new Adresse</h1>

    {{ include('account/_form.html.twig') }}

    <a href="{{ path('account_profile') }}">back to profile</a>
{% endblock %}
