{% extends 'base.html.twig' %}

{% block title %}New Produits{% endblock %}

{% block body %}
    <h1>Créer nouveau produit</h1>

    {{ include('admin/produits/_form.html.twig') }}

    <a href="{{ path('admin_produits_index') }}" class="btn btn-primary">Revenir à la liste</a>
{% endblock %}
